@{
    Layout = "_Layout";
}

<h2>HRMS Dashboard</h2>

<ul>
    <li>
        <a href="/Admin/CreateEmployee">Create New Employee</a>
    </li>

    <li>
        <a href="/HR/EditEmployee?id=70">Edit Employee Profile</a>
    </li>
</ul>
