@model Employee

<h2>Edit My Profile</h2>

<form method="post">
    <input type="hidden" asp-for="EmployeeId" />

    Phone:<br />
    <input asp-for="Phone" /><br /><br />

    Address:<br />
    <input asp-for="Address" /><br /><br />

    Emergency Contact Name:<br />
    <input asp-for="EmergencyContactName" /><br /><br />

    Emergency Contact Phone:<br />
    <input asp-for="EmergencyContactPhone" /><br /><br />

    Relationship:<br />
    <input asp-for="Relationship" /><br /><br />

    Biography:<br />
    <textarea asp-for="Biography"></textarea><br /><br />

    <button type="submit">Save</button>
</form>

