@model List<Employee>

<h2>My Team</h2>

@if (!Model.Any())
{
    <p>You have no employees reporting to you.</p>
}
else
{
    <table border="1" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.FullName</td>
                <td>@e.Email</td>
                <td>
                    <a href="/Employee/View/@e.EmployeeId">View Profile</a>
                </td>
            </tr>
        }
    </table>
}

